html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container h2{
    
    font-family: "sans-serif", Verdana, sans-serif;
    text-align: center;
      
}