html, body {
    height: 100%;
    width: 100%;
}

.container{
    background-image: url(../static/libraryback.jpg);
    width: 100%;
    box-sizing: border-box;
    background-size:inherit;
    background-position: center center;
    text-align: center;

}

.recom{
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    background-color: rgb(134, 46, 46);
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 60%;
    background-position: center;
    box-shadow: 20px 13px 10px -2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
}


.recbox{
    box-sizing: content-box;
    width: 500px;
    height: 100%;
    margin: auto;


}

.return{
    align-items: center;
    text-align: center;
    padding: 50px 50px;
    
}

.btn{
    width: 200px;
    height: 40px;
    color: black;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background-color: rgb(248, 248, 240);
}

.btn:hover{
    background-color: rgb(74, 198, 247);
    color: white;

}

.content-box{
    text-align: center;

}

.content{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: 2px solid rgb(134, 46, 46) underline;
}

.content2{
    word-wrap: break-word;
    white-space:normal;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.sep-box{
    border: 0.5px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    background-color: white;
}

@media(max-width: 1200px){
    body {
        background-image:url(../static/front.jpg);
        -webkit-background-size:cover;
        background-size:cover;
        background-position: center center;
        position: relative;
        flex-direction: column;
        margin: auto;
    }

    .container{
        text-align: center;
    }

    .return{
       margin-left: 100px;
    }
}

