<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommender</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <link rel="stylesheet" href="..\static\styles.css">
</head>
<body>
    <div class="container">
        <!-- <img src="../static/front.jpg" alt="Books" class="logo"> -->

        <form action="/submit" method="POST">
            <div class="form-group">
                <div class="cont">
                <h3 class="txt"> Book Name:</h3>
                </div>
                <input
                    type="text"
                    name="name_book"
                    placeholder="Name of Book"
                    class="bookname"
                />
            </div>
        
            <div class="form-group">
                <div class="cont2">
                <h3 class="txt2"> Number of Recommendations:</h3>
                </div>
                <input
                    type="number"
                    name="number_rec"
                    placeholder="Number of Recommendations"
                    class="recommendations"
                />
            </div>
            <br>
            <div class="submit-button">
            <input type="submit" value="Submit" class="btn" />
        </div>

        </form>

    </div>

    <div class="msg">
    {% if message %}
    <p class="message">{{ message | safe }}</p>
    {% endif %}
    </div>
    <br>
    
</body>
</html>